* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main {
    height: 900px;
    width: 100%;
}

#container {
    margin-top: 100px;
    height: 50px;
    /* margin: 20px; */
    /* border: 2px solid #ff7200; */
    /* align-items: center; */
}

#container h1 {
    color: #ff7200;
    text-align: center;
    margin-top: 10px;
}
