body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
  }

  center h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #ff7200;
  }
  
  .product {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 30px;
    transition: 0.5s ease;
    box-shadow: 0 3px 10px rgb(1 42 55 / 0.9);
  }

  .product-image {
    width: 600px;
  }
  
  .product-image img {
    /* width: 60%; */
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0 3px 10px rgb(1 42 55 / 0.9);
  }

  .product-image img:hover {
    transform: translateY(-10px);
  }
  
  .product-details {
    margin-left: 30px;
    border-top: 3px solid #ff7200;
    border-right: 3px solid #012733;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .price {
    font-size: 1.5rem;
    color: #e44d26;
    margin: 10px 0;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .add-to-cart-btn {
    background-color: #012733;
    color: #ff7200;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 19px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .add-to-cart-btn:hover {
    background-color: #ff7200;
    color: #012733;
    transition: 0.5s ease-in-out;
  }