@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


/* THE HERO SECTION */
#hero {
	background-image: url(../img/help.webp);
  background-repeat:inherit;
	object-fit: cover;
	display: flex;
	margin-bottom: 20px;
	height: 400px;
	width: 100%;
	text-align: center;
	align-items: center;
  z-index: 0;
  }
  
  
  .hero-banner span {
	font-size: 29px;
	padding-top: 30px;
  }
  
  .hero-banner h1 {
	color: #ff7200;
	font-size: 50px;
  }
  
  .hero-banner h1 span {
	color: #000;
	font-size: 50px;
  }
  
  .hero-banner p {
	font-size: 18px;
	font-weight: bold;
	color: #000;
  }
  
  .hero-banner p span {
	font-size: 20px;
	color: #ff7200;
  }
  


.cd__main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) !important; */
  background-image: url(../img/phone-scan.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cd__main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #ff7200;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon:hover {
  background-color: #000;
  color: #ff7200;
  transform: translateX(-10px);
  transition: 0.5s ease-in;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #ff7200;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}


.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #ff7200;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #012733;
  color: #FFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #000;
  color: #ff7200;
}

#locate {
  border: 2px solid #ff7200;
  background: #012733;
}

#locate .locate-head {
  text-align: center;
  color: #ff7200;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 30px;
}

#map {
  border: 2px solid #ff7200;
  border-radius: 10px;
}

#map iframe {
  border: 2px solid #ff7200;
  border-radius: 10px;
  width: 100%;
}







/* 
@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
} */